<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>维保事业部报价单</title>
</head>
<body>
    <h1>项目名称: {{ project_name }}</h1>
    <p>盾构机直径: {{ diameter }}</p>
    <p>掘进里程: {{ distance }}</p>
    <p>盾构机类型: {{ shield_type }}</p>
    <table border="1">
        <tr>
            <th>序号</th>
            <th>材料名称</th>
            <th>单位</th>
            <th>数量</th>
            <th>参考价格</th>
            <th>参考金额</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item[0] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: right;">合计</td>
            <td>{{ total_amount }}</td>
        </tr>
    </table>
</body>
</html>
